.register {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
        url("../../components/imgs/write.jpg");
    background-size: cover;
    background-position: center;
}
.registerTitle {
    font-size: 50px;
    font-family: "Lora", sans-serif;
}
.registerForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.registerForm > label {
    margin: 10px;
}
.registerInput {
    padding: 10px;
    width: 300px;
    background-color: white;
    border: none;
}
.registerButton {
    margin-top: 20px;
    cursor: pointer;
    background-color: teal;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 7px;
}
.registerLoginButton {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: lightcoral;
    cursor: pointer;
    border: none;
    padding: 10px 15px;
    color: white;
    border-radius: 10px;
}
